<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Darkly Css file -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>


    <div class="banner">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-lg-6 col-md-6">
                <h1 class='text-center' style="padding-top: 10px">Headline Analysis</h1>
                <br>
                <h3 class="header-text text-center">A series of vizualizations regarding the last 100 news articles
                    published by CNN, NBC, BBC, FOX, and the Assosiated Press.</h3>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!-- sticky-nav for buttons -->
    <nav class="navbar sticky-top navbar-dark bg-secondary">
        <div class="container">
            <div id="scatter-checkboxes" class='mx-auto'>
                <div class="form-check-inline">
                    <button class='btn btn-success' id='cnn-checkbox-scatter' name="cnn">CNN</button>
                </div>
                <div class="form-check-inline">
                    <button class="btn btn-danger" id='nbc-news-checkbox-scatter' name="nbc-news">NBC</button>
                </div>
                <div class="form-check-inline">
                    <button class="btn btn-danger" id="bbc-news-checkbox-scatter" name="bbc-news">BBC</button>
                </div>
                <div class="form-check-inline">
                    <button class="btn btn-danger" id="fox-news-checkbox-scatter" name="fox-news">FOX</button>
                </div>
                <div class="form-check-inline">
                    <button class="btn btn-danger" id="ap-checkbox-scatter" name="associated-press">AP</button>
                </div>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 scatter-text">
                <h3 class="text-center">
                    The Scatter Plots represent the distribution of the articles over time (X-axis) and the score on the
                    VADER Sentiment Intensitiy Analyzer (Y-axis)
                </h3>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="list-group list-group-horizontal" id='scatterTitleDesc'>
                        <button class="list-group-item liste-group-item-action btn-success active flex-fill"
                            id='scatterTitle'>Title</button>
                        <button class="list-group-item liste-group-item-action btn-success flex-fill"
                            id='scatterDesc'>Description</button>
                    </div>
                </div>



            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">


            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h5 class="text-center">Sentiment Scores</h5>
                <div class='chart' id="scatterPlot"></div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <h3 class="text-center">
                    This set of bar charts represents the number of articles that were positive (above 0) and negative
                    (below 0).
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h5 class="text-center">Pos/Neg Counts for titles</h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="list-group list-group-horizontal" id='scatterTitleDesc'>
                        <button class="list-group-item liste-group-item-action btn-success active flex-fill"
                            id='multibarTitle'>Title</button>
                        <button class="list-group-item liste-group-item-action btn-success flex-fill"
                            id='multibarDesc'>Description</button>
                    </div>
                </div>
                <div class='chart' id="posBarChart"></div>
            </div>

        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-12">
                <h3 class="text-center">
                    These bar charts represent the most commonly used words in the titles and descriptions of the
                    articles based on what news sources you have selected.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class='text-center'>Title Word Counts</h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="list-group list-group-horizontal" id='scatterTitleDesc'>
                        <button class="list-group-item liste-group-item-action btn-success active flex-fill"
                            id='countBarTitle'>Title</button>
                        <button class="list-group-item liste-group-item-action btn-success flex-fill"
                            id='countBarDesc'>Description</button>
                    </div>
                </div>
                <div class='chart' id="titleWordCountBar"></div>
            </div>

        </div>

        <div class="row" style="height: 100px;">
            <div class="col-md-12">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    The most popular people across the sources
                </h3>
                <br>

                <div id="peopleCount" class = 'chart'></div>
            </div>
        </div>
    </div>




    <script src="../static/js/scatter.js"></script>
    <script src="../static/js/fetches.js"></script>
    <script src="../static/js/bar.js"></script>
    <script src="../static/js/multi-line.js"></script>
    <script src="../static/js/multibar.js"></script>
    <script src="../static/js/logicFunctions.js"></script>
    <script src="../static/js/logic.js"></script>
</body>

</html>