<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="banner">
        <div class="row">
            <div class="col-lg-12 col-md-12">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 id='header' class='text-center'>Headline Analysis</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 barchart-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquid consectetur esse architecto
                asperiores veritatis! Doloremque in magnam assumenda, possimus atque fugit laborum necessitatibus
                molestiae numquam molestias corrupti ad quaerat.
            </div>
            <div class="col-lg-6 col-md-12">
                <div class = 'chart' id="BarChart">
                    This is the Graph showing the analysis of the historical headlines.
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-12 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vero maxime numquam
                omnis aliquam quae saepe itaque ipsam natus reprehenderit. Ex, aspernatur quis tenetur id asperiores
                impedit nam enim itaque!
            </div>
            <div class="col-lg-6 col-md-12 mx-auto">
                <div class = 'chart' id="multiLineGraph">
                    this is the multiline graph that will show the word counts of the top x words for the hisotrical
                    headlines.
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/logic.js"></script>
</body>

</html>